#footer-box
{
    background-color: rgb(0,0,0);
}
#footer
{
    margin: auto;
    width: 1300px;
}

#footer ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
#footer ul li
{
    margin: 0;
}
#footer>p
{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0;
    padding-bottom: 20px;
    font-size: 15px;
    color: rgb(119, 115, 107);

}

#footer ul li a
{
    font-size: 12px;
    color: white;

    text-decoration: none;
}

#footer h6
{
    margin: 0;
    margin-bottom: 10px;
    color: white;
}



#footer-info
{
    display: flex;
    flex-direction: row;

    padding-top: 50px;

}
#footer-left, #footer-center, #footer-right
{
    flex-basis: 33%;
    flex-grow: 1;
}
.mapouter
{
    position:relative;
    text-align:right;
    height:300px;
    width:400px;
}
.gmap_canvas 
{   
    overflow:hidden;
    background:none!important;
    height:250px;
    width:400px;
}

#social-network
{
    display: flex;
}

#social-network a
{
    margin: 0 3px;
    width: 1.5vw;
    height: 1.5vw;
}
#social-network a img
{
    max-width: 1.5vw;
    height: auto;
}
#p-name
{
    font-size: 1.1vw;
    margin: 0;
}
#p-address
{
    font-size: .7vw;
    margin: 2px 0;
}
#p-time
{
    font-size: .7vw;
    color: rgb(22,201,21);
    margin-left: 0;
}



#footer-bottom
{
    display: flex;
    flex-direction: row;
}
#payment, #certificate, #email-register
{
    flex-basis: 33.3333%;
    flex-grow: 1;
}

#payment a img
{
    max-height: 2.2vw;
}
#certificate ul li a img
{
    max-height: 3vw;
}


#email-group input
{
    padding: 6px;
    font-size: 13px;
    width: 350px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
}
#email-group input:focus, #email-group button:focus
{
    outline: none;
}
#email-group button
{
    background-color: rgb(125, 235, 0);
    font-size: 15px;
    border: 1px solid rgb(255, 255, 255);
}
